<div class="container mt-5">
  <h1 class="text-center mb-3">Lunch Groups</h1>

  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Group Name</th>
        <th scope="col">Admin</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each_with_index do |group,index| %>
        <% admin = group.groups_users.first.user %>
        <tr>
          <th scope="row"><%= index + 1%></th>
          <td><%= group.name %></td>
          <td><%= admin.name %></td>
          <td>
            <%= link_to 'Show', group %>
            <% if admin == current_user %>
              <%= link_to 'Edit', edit_group_path(group) %>
              <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are You Sure' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= link_to 'Home', '/', class: 'btn btn-primary' %>
    <%= link_to 'Create a Lunch Group', new_group_path, class: 'btn btn-info' %>
  </div>
</div>
