<h1 class="text-center mt-5"><%= @group.name %></h1>
<div class="container p-5">
  <div class="row">
    <div class="col-md">
      <h3 class="text-center mb-3">Members</h3>
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
            <th scope="col">Choice</th>
          </tr>
        </thead>
        <tbody id="choices">
        <% lunch_picks_array = [] %>
        <% @user_names.each_with_index do |user_name, index| %>
        <tr class="text-center">
          <th scope="row"><%= index + 1 %></th>
          <td>
            <%= user_name %>
          </td>
          <td>
            <% if !@user_acceptances[index] %>
              (pending invite)
            <% end %>
            <%= link_to 'Pick Lunch', filters_path(@group) if @pick_lunch_statuses[index] %>
            <% if @lunch_picks[index] %>
              <%= link_to 'Remove Choice', group_lunch_pick_path(@group), method: :delete, data: { confirm: 'Are You Sure?' } if current_user.name == user_name %>
            <% end %>
            <% @lunch_picks[index] && lunch_picks_array << @lunch_picks[index].restaurant %>
          </td>
          <td>
            <% if @lunch_picks[index] %>
              <%= @lunch_picks[index].restaurant %>
            <% end %>
          </td>
        </tr>
        <% end %>
        </tbody>
      </table>
      <div class="text-center mb-3">
        <%= link_to 'Back to Groups', groups_users_path, class: 'btn btn-info' %>
        <%= link_to 'Leave Group', decline_path, method: :delete, data: { confirm: 'Are You Sure?' }, class: 'btn btn-danger' %>
      </div>
    </div>
    <div id="lunch-picks"><%= lunch_picks_array %></div>
    <div class="col-md text-center">
      <div class="da da-center" id="wheel">
        <input type="button" value="spin" onclick="spin();" class="btn btn-primary" id="spin">
        <canvas id="wheelcanvas" width="500" height="500"></canvas>

        <script>
          var restaraunts = <%= lunch_picks_array.to_json.html_safe %>;
          var startAngle = 0;
          var arc = 2 * Math.PI / restaraunts.length ;
          var spinTimeout = null;
          var spinArcStart = 10;
          var spinTime = 0;
          var spinTimeTotal = 0;
          var ctx;
        </script>

        <script>draw();</script>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-3">
    <div class="col-md">
      <h3 class="text-center">Invite A Friend</h3>
      <div class="border p-5 mt-3 mb-5">
      <%= form_for invite_path, method: :post do |f| %>
        <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: 'name', class: 'form-control' %>
        </div>

        <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, placeholder: 'email', class: 'form-control' %>
        </div>
        <%= f.submit 'Invite', class: 'btn btn-primary' %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  var lunchPicks = document.getElementById("lunch-picks");
  if (lunchPicks.innerHTML != '[]') {
    var wheel = document.getElementById('wheel');
    wheel.style.display = 'inline';
  }
</script>
