<h1 class="text-center mt-5"><%= @group.name %></h1>
<div class="container border p-5">
  <div class="row">
    <div class="col-sm">
      <h3>Lunch Crew:</h3>
      <% lunch_picks_array = [] %>
      <ul id="choices">
        <% @user_names.each_with_index do |user_name, index| %>
          <li>
            <%= user_name if @user_acceptances[index] %>
            <%= link_to 'Pick Lunch', filters_path(@group) if @pick_lunch_statuses[index] %>
              <% @lunch_picks[index] && lunch_picks_array << @lunch_picks[index].restaurant %>
            <% if @lunch_picks[index] %>
              <%= "chose #{@lunch_picks[index].restaurant}" %>
              <%= link_to 'Remove Choice', group_lunch_pick_path(@group), method: :delete, data: { confirm: 'Are You Sure?' } if current_user.name == user_name %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <!-- filters_path(@group) -->
      <!-- group_lunch_picks_path(@group) -->
<!-- from http://www.switchonthecode.com/tutorials/creating-a-roulette-wheel-using-html5-canvas -->
      <div class="da da-center" id="wheel">
        <input type="button" value="spin" onclick="spin();" class="btn btn-primary">
        <canvas id="wheelcanvas" width="500" height="500"></canvas>

        <script>
          var restaraunts = <%= lunch_picks_array.to_json.html_safe %>;

          var startAngle = 0;
          var arc = 2 * Math.PI / restaraunts.length ;
          var spinTimeout = null;

          var spinArcStart = 10;
          var spinTime = 0;
          var spinTimeTotal = 0;

          var ctx;
        </script>

        <script>draw();</script>
      </div>

      <%= form_for invite_path, method: :post do |f| %>
        <h3>Invite A Friend</h3>
        <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: 'name', class: 'form-control' %>
        </div>

        <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, placeholder: 'email', class: 'form-control' %>
        </div>
        <%= f.submit 'Invite', class: 'btn btn-primary' %>
      <% end %>
    </div>

    <div class="col-sm">
      <% if @groups_users.where(accepted: false).any? %>
        <h3>Pending Invitations</h3>
      <% end %>
      <% @groups_users.each do |groups_user| %>
        <% if groups_user.accepted == false %>
          <p>Name: <%= groups_user.user.name %><br>
          Email: <%= groups_user.user.email %></p>
        <% end %>
      <% end %>

      <%= link_to 'Leave Group', decline_path, method: :delete, data: { confirm: 'Are You Sure?' }, class: 'btn btn-danger' %>
      <%= link_to 'Back to Groups', groups_users_path %>
    </div>
  </div>
</div>

<script>
  var choices = document.getElementById("choices");
  if (choices.innerHTML.includes('chose')) {
    var wheel = document.getElementById('wheel');
    wheel.style.display = 'none';
  }
</script>
