<div class="jumbotron text-center" id="header">
  <div class="header-container">
  <h1 class="display-4">Lunch Roulette</h1>
  <p class="lead">The deciding factor when it comes to choosing what to eat!</p>
  <div class="text-center">
    <%= link_to 'My Groups', groups_users_path, class: 'btn btn-info' %>
    <%= link_to 'Create A Group', new_group_path, class: 'btn btn-primary' %>
  </div>
  </div>
</div>

  <% @accepted_all.each do |row| %>
    <% if row.accepted == false && @accepted_all.last.accepted == false %>
      <%= row.group.name %>
      <%= link_to 'Accept', accept_path(row), method: :put, class: 'btn btn-primary' %>
      <%= link_to 'Decline', decline_path(row), method: :delete, data: { confirm: 'Are You Sure?' }, class: 'btn btn-danger' %>
      <% break %>
    <% end %>
  <% end %>



<!-- <a data-fancybox href="https://www.google.com/maps/search/?api=1&query=1200%20Pennsylvania%20Ave%20SE%2C%20Washington%2C%20District%20of%20Columbia%2C%2020003">Google Map</a> -->

