<div class="container border p-5 mt-5">
  <% @accepted_all.each do |row| %>
    <% if row.accepted == false && @accepted_all.last.accepted == false %>
      <%= row.group.name %>
      <%= link_to 'Accept', accept_path(row), method: :put, class: 'btn btn-primary' %>
      <%= link_to 'Decline', decline_path(row), method: :delete, data: { confirm: 'Are You Sure?' }, class: 'btn btn-danger' %>
      <% break %>
    <% end %>
  <% end %>
  <h1>Welcome to Lunch Roulette</h1>
  <%= link_to 'Your Lunch Groups', groups_users_path %><br>
  <%= link_to 'Create a Lunch Group', new_group_path %>
</div>
