<div class="text-center alert alert-success" id="location-found">
  <a href="#" data-dismiss="alert" class="close">×</a>
  <ul style="list-style-type: none;">
    <li>
      Location Found!
    </li>
  </ul>
</div>
<div class="text-center alert alert-error" id="location-not-found">
  <a href="#" data-dismiss="alert" class="close">×</a>
  <ul style="list-style-type: none;">
    <li>
      We are having trouble finding your location. Try typing in an address instead.
    </li>
  </ul>
</div>
<div class="container border p-5 mt-5 text-center" style="max-width:500px;">
  <h1 class="mb-3">Almost there..</h1>
  <%= form_for post_filters_path do |f| %>
    <div class="form-group">
      <button type="button" id="location" class="btn btn-sm btn-info" name="location">Get Current Location
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      </button>
      <button type="button" class="address-btn btn btn-sm btn-info">Enter an Address</button>
    </div>
    <div class="form-group">
      <%= f.hidden_field :longitude, class: 'longitude' %>
      <%= f.hidden_field :latitude, class: 'latitude' %>
    </div>
    <div class="form-group address">
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>
    <div class="form-group address">
      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control' %>
    </div>
    <div class="form-group address">
      <%= f.label :state %>
      <select class="form-control" id="state" name="state">
      <option value="">N/A</option>
      <option value="AK">Alaska</option>
      <option value="AL">Alabama</option>
      <option value="AR">Arkansas</option>
      <option value="AZ">Arizona</option>
      <option value="CA">California</option>
      <option value="CO">Colorado</option>
      <option value="CT">Connecticut</option>
      <option value="DC">District of Columbia</option>
      <option value="DE">Delaware</option>
      <option value="FL">Florida</option>
      <option value="GA">Georgia</option>
      <option value="HI">Hawaii</option>
      <option value="IA">Iowa</option>
      <option value="ID">Idaho</option>
      <option value="IL">Illinois</option>
      <option value="IN">Indiana</option>
      <option value="KS">Kansas</option>
      <option value="KY">Kentucky</option>
      <option value="LA">Louisiana</option>
      <option value="MA">Massachusetts</option>
      <option value="MD">Maryland</option>
      <option value="ME">Maine</option>
      <option value="MI">Michigan</option>
      <option value="MN">Minnesota</option>
      <option value="MO">Missouri</option>
      <option value="MS">Mississippi</option>
      <option value="MT">Montana</option>
      <option value="NC">North Carolina</option>
      <option value="ND">North Dakota</option>
      <option value="NE">Nebraska</option>
      <option value="NH">New Hampshire</option>
      <option value="NJ">New Jersey</option>
      <option value="NM">New Mexico</option>
      <option value="NV">Nevada</option>
      <option value="NY">New York</option>
      <option value="OH">Ohio</option>
      <option value="OK">Oklahoma</option>
      <option value="OR">Oregon</option>
      <option value="PA">Pennsylvania</option>
      <option value="PR">Puerto Rico</option>
      <option value="RI">Rhode Island</option>
      <option value="SC">South Carolina</option>
      <option value="SD">South Dakota</option>
      <option value="TN">Tennessee</option>
      <option value="TX">Texas</option>
      <option value="UT">Utah</option>
      <option value="VA">Virginia</option>
      <option value="VT">Vermont</option>
      <option value="WA">Washington</option>
      <option value="WI">Wisconsin</option>
      <option value="WV">West Virginia</option>
      <option value="WY">Wyoming</option>
    </select>
    </div>
    <div class="form-group address">
      <%= f.label :zip %>
      <%= f.text_field :zip, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :what_are_you_craving? %><br>
      <%= f.text_field :search, placeholder: 'lunch', value: 'lunch', class: 'form-control text-center' %>
    </div>
    <%= f.submit "Find Lunch", class: 'btn btn-primary w-100' %>
  <% end %>
</div>
<script>
  $('#location').click(function() {
    $('.address-btn').hide();
    $('.spinner').show();

    function success(position) {
      $('.spinner').hide();
      $('#location-found').show();
      var latitude = position.coords.latitude;
      var longitude = position.coords.longitude;
      $('.latitude').val(latitude)
      $('.longitude').val(longitude)
    }

    function fail() {
      $('.spinner').hide();
      $('#location-not-found').show();
      $('#location').hide();
      $('.address').show();
    }

    navigator.geolocation.getCurrentPosition((position) => {success(position)}, (error) => {fail(error)}, {timeout:10000});
});

  $('.address-btn').click(function() {
    $('#location').hide();
    $('.address').show();
});
</script>
