<%= link_to "Back to #{@group.name}", @group %><br>
<%= link_to 'Back to Groups', groups_users_path %>

<h1 class="text-center mb-5">Lunch Picks</h1>

<div class="container">
  <div class="row text-center border">
  <% @yelp_data['businesses'].each do |business| %>
    <div class="col-md-4 border py-5">
      <h3><%= business['name'] %></h3>
      <%= business['location']['address1'] %><br>
      <p><%= business['location']['city'] %>,
        <%= business['location']['state'] %>,
        <%= business['location']['zip_code'] %></p>
      <p>Yelp Rating: <%= business['rating'] %><br>
         Price: <%= business['price'] %><br>
         Category: <%= business['categories'][0]['title'] %>
      </p>
      <a data-fancybox="gallery" href="<%= business['image_url'] %>">
        <div style="background-image:url('<%= business['image_url'] %>');" class="picks"></div>
      </a>
      <%= form_for [@group,@lunch_pick] do |f| %>
        <%= f.hidden_field :restaurant, :value => business['name'] %>
        <a data-fancybox href="https://www.google.com/maps/search/?api=1&query=<%= business['location']['address1']+' '+business['location']['city']+' '+business['location']['state']+' '+business['location']['zip_code']%>" class="btn btn-secondary">Map</a>
        <%= f.submit "Vote", class: "btn btn-info" %>
        <%= link_to 'Yelp', business['url'], :target => "_blank", class: 'btn btn-primary' %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
